main {
        text-transform: none;
}
p {
        max-inline-size: 60ch;
}
main img {
        max-inline-size: 60%;
        border-style: solid;
        border-color: var(--yellow);
        border-radius: 15px;
        box-shadow: 8px 8px black;
}
p, main img {
        margin-inline: auto;
}
#post-tags {
        display: flex;
        gap: 40px;
}
