h3 {
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 1px;
}
li {
        display: list-item;
        list-style-type: disc;
        line-height: 32px;
}
.container {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
}
.container img {
        height: 220px;
}
.img-container img {
        box-shadow: 5px 5px black;
}
h4 {
        color: var(--blue);
        background-color: var(--yellow);
        border-radius: 25px;
        text-shadow: 2px 2px white;
        text-align: center;
        margin: 0px;
        padding: 0;
        font-size: 1.2em;
}
.primer-card {
        border-style: solid;
        border-radius: 25px;
        box-shadow: 7px 7px black;
        margin: 15px;
        padding: 10px;
        padding-left: 30px;
}
span{
        color: #00ffb7;
}
