/*
* ███████╗ ██████╗ ███╗   ██╗████████╗███████╗
* ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔════╝
* █████╗  ██║   ██║██╔██╗ ██║   ██║   ███████╗
* ██╔══╝  ██║   ██║██║╚██╗██║   ██║   ╚════██║
* ██║     ╚██████╔╝██║ ╚████║   ██║   ███████║
* ╚═╝      ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝
*/
@font-face {
        font-family: "Cageroll";
        src: url(../fonts/Cageroll-Roll.otf);
        font-display: swap;
}

@font-face {
        font-family: "Duration";
        src: url(../fonts/Duration\ Book.ttf);
        font-display: swap;
}

@font-face {
        font-family: "PlanetEstyle";
        src: url(../fonts/PlanetEstyle.ttf);
        font-display: swap;
}

@font-face {
        font-family: "Terminus";
        src: url(../fonts/TerminusTTF-4.49.2.ttf);
        font-display: swap;
}

/*
* ██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗ 
* ██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
* ███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
* ██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
* ██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
* ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝                                                       
*/
header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../img/backgrounds/sky.gif);
        color: skyblue;
        text-align: center;
        text-shadow: 2px 2px lightpink;
        margin: 100px 10vw 0vw 10vw;
        padding-right: 15px;
}

header *:hover {
        animation: shake 0.2s;
        animation-iteration-count: infinite;
}

h1 {
        font-family: Cageroll, sans-serif;
        font-size: 77px;
}

h2 {
        font-family: Duration, sans-serif;
        font-size: 66px;
        font-style: italic;
        margin-top: -25px;
}

/*
* body
* 
*/
body {
        display: flex;
        flex-direction: column;
        background-image: url(../img/backgrounds/matrix.gif);
        font-family: PlanetEstyle, sans-serif;
        font-size: 22px;
        color: skyblue;
        margin: 0;
        cursor: url("../img/cursors/TENSHICURSOR.cur"), default;
}

main,
footer,
section {
        background-image: url(../img/backgrounds/Static2.gif);
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0vw 10vw 0vw 10vw;
        padding: 3vw 5vw 0vw 5vw;
}

footer {
        margin-bottom: 100px;
}

h3,
p,
small,
ul {
        align-self: flex-start;
        margin: 0vw 10vw 0vw 10vw;
}
h3:hover {
	animation: weeee 0.2s;
        animation-iteration-count: infinite;
}

ul {
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        list-style-image: url(../img/clickies/wing_r.png);
        font-size: 1.2em;
}

figure>img,
video {
        background-color: rgba(0, 0, 0, 0);
        border-style: outset outset inset inset;
        border-width: 5px;
        border-radius: 3px;
        border-color: skyblue;
        max-width: 60vw;
}
figure>img:hover{
	animation: spin 1s;
}

figcaption {
        font-family: Terminus;
        color: lightpink;
        font-size: .8em;
        font-style: italic;
}

a {
        color: lightpink;
}

a:hover {
        cursor: url("../img/cursors/TENSHICURSOR_select.cur"), default;
}

#buttons {
        display: flex;
	flex-direction: row;
        flex-wrap: wrap;
        column-gap: 5px;
        justify-content: center;
        margin: 15px 0px 15px 0px;
}

#buttons>img {
        width: 88px;
        height: 31px;
        background-color: rgba(0, 0, 0, 0.0);
}

/*
 * seeders
 */
.seeder {
        position: fixed;
        bottom: 3px;
        width: 250px;
}

#seeder-left {
        left: -55px;
}

#seeder-right {
        right: -55px;
        transform: scaleX(-1);
}

@keyframes shake {
        0% {
                transform: translate(1px, 1px) rotate(0deg);
        }

        10% {
                transform: translate(-1px, -2px) rotate(-1deg);
        }

        20% {
                transform: translate(-3px, 0px) rotate(1deg);
        }

        30% {
                transform: translate(3px, 2px) rotate(0deg);
        }

        40% {
                transform: translate(1px, -1px) rotate(1deg);
        }

        50% {
                transform: translate(-1px, 2px) rotate(-1deg);
        }

        60% {
                transform: translate(-3px, 1px) rotate(0deg);
        }

        70% {
                transform: translate(3px, 1px) rotate(-1deg);
        }

        80% {
                transform: translate(-1px, -1px) rotate(1deg);
        }

        90% {
                transform: translate(1px, 2px) rotate(0deg);
        }

        100% {
                transform: translate(1px, -2px) rotate(-1deg);
        }
}

@keyframes spin {
	0%{
		transform: rotate3d(0,0,0,0deg);
	}
        10% {
                transform: rotate3d(36,36,36,36deg);
        }

        20% {
                transform: rotate3d(72,72,72,72deg);
        }

        30% {
                transform: rotate3d(108,108,108,108deg);
        }

        40% {
                transform: rotate3d(144,144,144,144deg);
        }

        50% {
                transform: rotate3d(180,180,180,180deg);
        }

        60% {
                transform: rotate3d(216,216,216,216deg);
        }

        70% {
                transform: rotate3d(252,252,252,252deg);
        }

        80% {
                transform: rotate3d(288,288,288,288deg);
        }

        90% {
                transform: rotate3d(324,324,324,324deg);
        }

        100% {
                transform: rotate3d(360,360,360,360deg);
        }

}

@keyframes weeee {
	0%{
		transform: rotateZ(0deg);
	}
        10% {
                transform: rotateZ(36deg);
        }

        20% {
                transform: rotateZ(72deg);
        }

        30% {
                transform: rotateZ(108deg);
        }

        40% {
                transform: rotateZ(144deg);
        }

        50% {
                transform: rotateZ(180deg);
        }

        60% {
                transform: rotateZ(216deg);
        }

        70% {
                transform: rotateZ(252deg);
        }

        80% {
                transform: rotateZ(288deg);
        }

        90% {
                transform: rotateZ(324deg);
        }

        100% {
                transform: rotateZ(360deg);
        }

}
