body {
        inline-size: 85ch;
        margin-inline: auto;
}
article {
        text-align: justify;
}
.horizontal {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px;
}
.horizontal h4 {
        margin-bottom: 0px;
}
h4 + section {
        block-size: 400px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 10px;
}
.shop-info {
        display: flex;
        border-style: double;
        border-color: grey;
}
.shop-info img {
        inline-size: 100px;
        block-size: 100px;
}
.shop-info p {
        margin-block: 0px;
}
