---
title: "fuzzy's goodies"
layout: 'layouts/base.html'
permalink: '/goodies.html'
---
<article>
        <h3>Goodies</h3>
        <p>
        Welcome to my goodies page!
        </p>
        <p>
        On this page I'll showcase a few 88x31 buttons I've made and a few of my favourites that I've found across the web.
        </p>
</article>
<p>KKCYBER</p>
<section class="buttons">
        <img src="media/buttons/kkcyber/tenshibuttonB.png" alt="">
        <img src="media/buttons/kkcyber/seederbutton3B.gif" alt="">
        <img src="media/buttons/kkcyber/tenshibutton2B.png" alt="">
</section>
<section class="buttons">
        <img src="media/buttons/kkcyber/teshinowbutton.png" alt="">
        <img src="media/buttons/kkcyber/tenshiNOWbutton.png" alt="">
        <img src="media/buttons/kkcyber/KKCYBERNOWbutton.png" alt="">
</section>
<section class="buttons">
        <img src="media/buttons/kkcyber/LOGINANDCONNECT.png" alt="">
        <img src="media/buttons/kkcyber/LOGINANDCONNECT-round.png" alt="">
        <img src="media/buttons/kkcyber/LOGINANDCONNECT-DARK.png" alt="">
        <img src="media/buttons/kkcyber/LOGINANDCONNECT-DARK-round.png" alt="">
</section>
<section class="buttons">
        <img src="media/buttons/kkcyber/CAFEANDCLUB.png" alt="">
        <img src="media/buttons/kkcyber/CAFEANDCLUB-round.png" alt="">
        <img src="media/buttons/kkcyber/CAFEANDCLUB-DARK.png" alt="">
        <img src="media/buttons/kkcyber/CAFEANDCLUB-DARK-round.png" alt="">
</section>
<p>Null Meta</p>
<section class="buttons">
        <img src="media/buttons/nullmeta/chiakibutton.png" alt="">
        <img src="media/buttons/nullmeta/kurumibutton.png" alt="">
        <img src="media/buttons/nullmeta/sakinabutton.png" alt="">
        <img src="media/buttons/nullmeta/shiyukibutton.png" alt="">
</section>
<section class="buttons">
        <img src="media/buttons/nullmeta/chiakibutton-outline.png" alt="">
        <img src="media/buttons/nullmeta/kurumibutton-outline.png" alt="">
        <img src="media/buttons/nullmeta/sakinabutton-outline.png" alt="">
        <img src="media/buttons/nullmeta/shiyukibutton-outline.png" alt="">
</section>
<section class="buttons">
        <img src="media/buttons/nullmeta/mo-border.png" alt="">
        <img src="media/buttons/nullmeta/NLMT-button.png" alt="">
        <img src="media/buttons/nullmeta/group-button.png" alt="">
        <img src="media/buttons/nullmeta/group-button2.png" alt="">
</section>
<p>Onikata Kayoko</p>
<section class="buttons">
        <img src="media/buttons/kayoko/kayoko-button.png" alt="">
        <img src="media/buttons/kayoko/kayoko-ny-button.png" alt="">
        <img src="media/buttons/kayoko/kayoko-dress-buttons.png" alt="">
</section>
<section class="buttons">
        <img src="media/buttons/kayoko/kayoko-cg-button.png" alt="">
        <img src="media/buttons/kayoko/kayoko-ny-cg-button.png" alt="">
        <img src="media/buttons/kayoko/kayoko-dress-cg-button.png" alt="">
</section>
<section class="buttons">
        <img src="media/buttons/kayoko/borntokill.png" alt="">
</section>
<p>Gochiusa</p>
<section class="buttons">
        <img src="media/buttons/gochiusa/cocoa-eyes.png" alt="">
        <img src="media/buttons/gochiusa/chino-eyes.png" alt="">
        <img src="media/buttons/gochiusa/rize-eyes.png" alt="">
        <img src="media/buttons/gochiusa/chiya-eyes.png" alt="">
        <img src="media/buttons/gochiusa/syaro-eyes2.png" alt="">
</section>
<p>Misc.</p>
<section class="buttons">
        <img src="media/buttons/misc/rasher-support.png" alt="">
</section>
<p>Faves</p>
<section class="buttons">
        <img src="media/buttons/faves/zettai.gif" alt="">
        <img src="media/buttons/faves/dumbass.gif" alt="">
        <img src="media/buttons/faves/shimapan.png" alt="">
        <img src="media/buttons/faves/anime-eyes.gif" alt="">
        <img src="media/buttons/faves/kuromivius.gif" alt="">
</section>
<section class="buttons">
        <img src="media/buttons/faves/miku-approved.gif" alt="">
        <img src="media/buttons/faves/cuteanimegirls.gif" alt="">
        <img src="media/buttons/faves/popotan-dansen.gif" alt="">
        <img src="media/buttons/faves/bookmark-komugi.png" alt="">
        <img src="media/buttons/faves/best-viewed-with-eyes.gif" alt="">
</section>
<section class="buttons">
        <img src="media/buttons/faves/tummy.gif" alt="">
        <img src="media/buttons/faves/konata.gif" alt="">
        <img src="media/buttons/faves/proud_of_my_son.gif" alt="">
        <img src="media/buttons/faves/prettyguardiansailormoon.gif" alt="">
        <img src="media/buttons/faves/windose.png" alt="">
</section>
<section class="buttons">
        <img src="media/buttons/faves/vim.gif" alt="">
        <img src="media/buttons/faves/www.gif" alt="">
        <img src="media/buttons/faves/esheep.gif" alt="">
        <img src="media/buttons/faves/folder2.gif" alt="">
        <img src="media/buttons/faves/fingerofgod.gif" alt="">
</section>
