---
title: "fuzzy's shrines"
layout: 'layouts/base.html'
style: 
        - 'styles/shrines.css'
permalink: '/shrines.html'
---
<article>
        <h3>Shrines</h3>
        <p>Here are a few shrines I've made for some of my favourite things!</p>
        <p>TODO:</p>
        <ul>
                <li>PSO2 shrine</li>
                <li>Hoihoi-san shrine</li>
        </ul>
</article>
<dl>
        <a href="https://nullmeta.neocities.org">
                <dt>Null Meta</dt>
                <div class="shrine-card" style="background-image:url(media/shrines/thumbnails/shrine-nullmeta.png)">
                </div>
        </a>
        <a href="shrines/kkcyber/index.html">
                <dt>KKCYBER</dt>
                <div class="shrine-card" style="background-image:url(media/shrines/thumbnails/shrine-kkcyber.png)">
                </div>
        </a>
        <a href="shrines/kayoko/index.html">
                <dt>Onikata Kayoko</dt>
                <div class="shrine-card" style="background-image:url(media/shrines/thumbnails/shrine-kayoko.png)">
                </div>
        </a>
</dl>
