---
title: "fuzzy's manga time kirara 3x3"
layout: 'layouts/base.njk'
style: 
        - '/styles/blog.css'
permalink: 'posts/2025/kirara-3x3.html'
date: 2025-02-28
categories: ["primer","otaku"]
tags: post
---
<h1>Manga Time Kirara 3x3</h1>
<p>Hi, I'd like to write about some of my favouite manga published in Kirara! I'll present these as a 3x3 image and then get into details about each manga and why it means so much to me.</p>
        <img src="/media/blog/Kirara3x3.png" alt="">
<h3>A-Channel</h3>
<p>A-Channel is the ultimate high-school moe series. bb-sensei's cast is diverse and defined, with each major character falling into a clear archetype, and the expression of these archetypes is perfected. The series features cute girls wasting their precious high school years together, making good memories and forging strong bonds.</p>
<p>A-Channel leans heavily into perverted jokes, and emphasises sexier charm-points like Tooru's zettai ryoiki and Yuko's curves. In fact, bb-sensei included so many jokes about boobs that his editor banned him from making any more.</p>
<h3>Urara Meirochou</h3>
<p>Urara Meirochou focuses on two main points: visual moe, meaning a physical appearence that creates moe, and character moe, meaning personality traits that endear a character to you. It pulls these off excellently, immedietely investing you into the journey of the characters and compelling you to root for them during their difficult journey.</p>
<h3>Hidamari Sketch</h3>
<p>What can I even say about Hidamari Sketch? Featuring a cast of eccentric characters, Hidamari Sketch immedietely endears them to you, and then gradually creates situations where you find yourself rooting for them.</p>
<h3>Gochiusa</h3>
<p>Gochiusa is a masterpiece. With extremely charming characters and subtle gradual character development, Koi-sensei created the ultimate moe series that captures your heart, draws you in, comforts you, and motivates you!</p>
<h3>Null Meta</h3>
<p>Null Meta is the perfect manga.</p>
<h3>Hoshikuzu Telepath</h3>
<p>HoshiTele perfects it's representation of depair. The deep void you can easily fall into. Feeling like everything's hopeless. Regardless, HoshiTele also perfects its representation of pushing through it and taking that very difficult first step forward after feeling paralyzed. It's a really awesome and inspiring story.</p>
<h3>Slow Start</h3>
<p>Slow Start's strengths lie in the casts interaction with Hana, the protagonist. Hana is a high-school "ronin", which means she took a gap year before starting high-school.</p> 
<p>Hana is an anxious girl. She's filled with fear and uncertainty. She's worried that she won't fit in with her classmates, and she's worried that they'll find out she's a ronin.</p> 
<p>The moe of Slow Start lies in Hana's friends acceptance of her and the ways they accomodate her. They understand she's anxious and shy but they don't judge her for it and they don't allow it to change how they treat her. Slowly (very slowly), Hana begins breaking out of her shell just a little, gaining confidence and pushing herself forward. It's a very inspirational story with some huge payoffs.</p>
<h3>Comic Girls</h3>
<p>Moeka Kaoruko is a timid, shy, and anxious aspiring mangaka. She sends in draft after draft to her editor and gets rejected time after time. Every time, she gets despirited, loses her confidence, berates herself, gets dejected, and eventually, picks her pen back up and writes a new draft. It's Kaos-sensei's dream of becoming a mangaka, and even if she's useless, and unskilled and terrible and garbage she can't imagine spending her life doing anything else. Kaos-sensei is the strongest girl in the world and seeing her struggle, suffer, and overcome gives me the strength I need to face every obstacle in my way.</p>
<h3>Doujin Work</h3>
<p>This is maybe the funniest manga ever made. It's fast-paced, raunchy, and relatable, especially if you're a fan of manga, doujinshi, and visual novels.</p>
