li {
        display: flex;
        flex-direction: column;
        border-style: solid;
        border-color: var(--secondary);
        border-radius: 15px;
        box-shadow: 10px 10px var(--shadow);
        padding: 20px;
        margin-block: 20px;
        margin-inline: auto;
}
.blog-scroll {
        overflow-y: auto;
        block-size: 546px;
        inline-size: 617px;
        margin-inline: auto;
        padding-right: 17px;
}
