---
eleventyExcludeFromCollections: true
title: "fuzzy's "
layout: 'layouts/base.njk'
style: 
        - '/styles/primer.css'
permalink: 'posts/highlights.html'
date: 2026-12-31
categories: ["primer","otaku"]
tags: post
---
<h1>fuzzy's XXXX anime highlights</h1>
<h3><a href="https://addons.mozilla.org/en-US/firefox/addon/youtube-no-translation/">get the "Youtube No Translation" firefox add-on to automatically disable AI dubs in PVs </a></h3>
<h4>Winter</h4>
        <div class="primer-card">
                <h3></h3>
                <h5></h5>
                <div class="container">
                        <div class="img-container">
                                <img src="/media/blog/primer-posters/">
                        </div>
                        <div class="info-container">
                                <ul>
                                        <li><span>Studio: </span></li>
                                        <li><span>PV: </span><a href=""></a></li>
                                        <li><span>Why I liked it: </span></li>
                                </ul>
                        </div>
                </div>
        </div>
<h4>Spring</h4>
        <div class="primer-card">
                <h3></h3>
                <h5></h5>
                <div class="container">
                        <div class="img-container">
                                <img src="/media/blog/primer-posters/">
                        </div>
                        <div class="info-container">
                                <ul>
                                        <li><span>Studio: </span></li>
                                        <li><span>PV: </span><a href=""></a></li>
                                        <li><span>Why I liked it: </span></li>
                                </ul>
                        </div>
                </div>
        </div>
<h4>Summer</h4>
        <div class="primer-card">
                <h3></h3>
                <h5></h5>
                <div class="container">
                        <div class="img-container">
                                <img src="/media/blog/primer-posters/">
                        </div>
                        <div class="info-container">
                                <ul>
                                        <li><span>Studio: </span></li>
                                        <li><span>PV: </span><a href=""></a></li>
                                        <li><span>Why I liked it: </span></li>
                                </ul>
                        </div>
                </div>
        </div>
<h4>Fall</h4>
        <div class="primer-card">
                <h3></h3>
                <h5></h5>
                <div class="container">
                        <div class="img-container">
                                <img src="/media/blog/primer-posters/">
                        </div>
                        <div class="info-container">
                                <ul>
                                        <li><span>Studio: </span></li>
                                        <li><span>PV: </span><a href=""></a></li>
                                        <li><span>Why I liked it: </span></li>
                                </ul>
                        </div>
                </div>
        </div>
<h4>Special Mentions</h4>
        <p>Nothing here is quite good enough... but they stuck with me anyways!</p>
        <div class="primer-card">
                <h3></h3>
                <h5></h5>
                <div class="container">
                        <div class="img-container">
                                <img src="/media/blog/primer-posters/">
                        </div>
                        <div class="info-container">
                                <ul>
                                        <li><span>Studio: </span></li>
                                        <li><span>Season: </span></li>
                                        <li><span>PV: </span><a href=""></a></li>
                                        <li><span>Why I liked it: </span></li>
                                </ul>
                        </div>
                </div>
        </div>
