@font-face {
        font-family: ComicRelief;
        src: 
        url("https://fuzzy.nekoweb.org/media/fonts/ComicRelief-Regular.woff2");
}
.site-box {

        background-image: linear-gradient(#0132b3, #3169ED);
        border-style: solid;
        border-color: #FFF6FC;
        border-radius: 13px;
        color: #FFF6FC;
        text-align: center;
        font-family: Comic Relief, comic sans;
        box-shadow: 10px 10px black;
}
.site-box > a > p {
        color: #FFF6FC;
        font-weight: bold;
        font-size: 1.5em;
}
.site-box > a > span {
        visibility: hidden;
}
.sitefeature {
        border: none;
        border-style: solid;
        border-color: #FFF6FC;
        border-radius: 13px;
}

.post-box {
        background-image: linear-gradient(#0132b4, #3169ED);
        border: 4px solid #FFF6FC;
        padding: 15px;
        border-radius: 5px;
        color: #FFF6FC;
        font-weight: normal;
}
.post-box .post-title {
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 0px;
}
