.columns-headings {
        display: flex;
        justify-content: space-around;
        margin-bottom: -20px;
}
.scrolling-columns {
        display: flex;
        justify-content: center;
}
.scrolling-columns section {
        width: 300px;
        height: 496px;
        padding: 10px;
        overflow-y: auto;
        overflow-x: hidden;
}
dt {
        font-weight: bold;
}
dd {
        margin-bottom: 15px;
        margin-left: 15px;
}
