.cert-box {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 198px;
        height: 198px;
        border: 1px solid black;
        border-radius: 0px;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 0;
}
.cert-img {
        width: 100px;
        height: 100px;
        border: 1px solid black;
        border-radius: 0px;
        background-color: black;
        padding: 0;
        margin: 0;
}
.cert-text {
        font-family: sans-serif;
        font-weight: normal;
        color: black;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 186px;
        height: 69px;
        text-align: center;
        border: 1px solid black;
        border-radius: 0px;
        font-size: 12px;
        padding: 0;
        margin: 0;
        text-shadow: none;
}
