.guestbooks___input-container input {
        border-style: solid;
        border-color: black;
        min-height: 1.5em;
        font-size: 12pt;
        margin-bottom: 5px;
        margin-left: 10.5px;
}
textarea {
        min-height: 100px;
        font-family: sans-serif;
        font-size: 12pt;
        border-style: solid;
        border-color: black;
        margin-bottom: 5px;
        margin-left: 10.5px;
}
input[type=submit] {
        background: white;
        border-style: solid;
        border-color: black;
        height: 35px;
        width: 65px;
        margin-left: 10.5px;
}    
.sheet {
        height: 387px;
        overflow-y: auto;
}
  
