.guestbooks___input-container input, textarea {
        color: var(--yellow);
        font-family: ComicRelief;
        background-color: var(--blue);
        border-style: solid;
        border-color: var(--yellow);
        border-radius: 15px;
        border-width: 3px;
        margin-left: 10.5px;
        margin-bottom: 11px;
        padding-left: 7px;
        text-shadow: 2px 2px black;
        box-shadow: 7px 7px black;
        outline: none;

}
textarea::placeholder, .guestbooks___input-container input::placeholder {
        color: var(--yellow);
        font-family: ComicRelief;
        text-shadow: 2px 2px black;

}
.guestbooks___input-container input {
        font-size: 1em;
        max-width: 200px;
        min-height: 1.8em;
}
textarea {
        font-size: 1em;
        min-height: 80px;
        width: 700px;
}
input[type=submit] {
        color: var(--yellow);
        font-family: ComicRelief;
        font-size: 1em;
        background-color: var(--blue);
        border-style: solid;
        border-color: var(--yellow);
        border-radius: 12px;
        text-shadow: 2px 2px black;
        box-shadow: 7px 7px black;
        margin-left: 10.5px;
        width: 100px;
        height: 35px;
        cursor: grab;
}    
#guestbooks___guestbook-messages-header {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10.5px;
        font-size: 1.4em;
}
#guestbooks___guestbook-messages-container {
        height: 364px;
        overflow-y: auto;
        width: 715px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 15px;

}
.guestbook-message {
        color: var(--yellow);
        font-family: ComicRelief;
        background-color: var(--blue);
        border-style: solid;
        border-color: var(--yellow);
        border-radius: 15px;
        text-shadow: 2px 2px black;
        box-shadow: 7px 7px black;
        margin-bottom: 20px;

}
.guestbook-message p {
        margin-left: 15px;
        font-size: 1.1em;
        margin-bottom: 5px;
}
.guestbook-message blockquote {
        margin-top: 5px;
}
