.shrine-card {
        border-style: solid;
        border-color: var(--yellow);
        border-radius: 15px;
        margin-bottom: 10px;
        box-shadow: 5px 5px black;
        padding: 10px;
        width: 250px;
        height: 184px;
        background-position: top center;
        background-size: cover;

}
.shrine-card dd {
        margin-top: 5px;
        margin-bottom: 5px;
}
a dt {
        color: var(--yellow);
        margin-left: 10px;
        font-size: 1.1em;
}
a dd {
        color: var(--yellow);
}

dl {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 13px 0px;
}
