:root{
        --text: black;
        --bg: #4de4ff;
        --header-image: url('../media/bg/yuki1.png');
        --bg-image: linear-gradient(135deg, #fffb00 25%, transparent 25%), linear-gradient(225deg, #fffb00 25%, transparent 25%), linear-gradient(45deg, #fffb00 25%, transparent 25%), linear-gradient(315deg, #fffb00 25%, #4de4ff 25%);
}
body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        background-color: var(--bg);
        opacity: 1;
        background-image: var(--bg-image);
        background-position:  40px 0, 40px 0, 0 0, 0 0;
        background-size: 80px 80px;
}
.flex-container {
        text-transform: lowercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40vw;
        margin-top: 5vh;
}
a {
        color: var(--a);
}
a:visited {
        color: var(--a-visited);
}
header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: var(--text);
        padding-right: 10px;
        border-radius: 15px;
        margin-bottom: 10px;
        width: 800px;
}
nav {
        display: flex;
        justify-content: flex-start;
        column-gap: 10px;
        border-radius: 35px;
        margin-bottom: 10px;
        width: 800px;
}
nav a {
        color: var(--text);
        background-color: #4de4ff;
        text-decoration: none;
        padding: 10px;
}
nav a:visited{
        color: var(--text);
}
.scroll {
        max-height: 750px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 10px;
}
main {
        display: flex;
        flex-direction: column;
        color: var(--text);
        background-color: var(--bg);
        width: 800px;
        min-height: 750px;
}
.center-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.bottom-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: auto;
}
li {
        list-style-type: none;
}    
.buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
}

.buttons>img {
        width: 88px;
        height: 31px;
        image-rendering: pixelated;
        margin: 1px;
        background-color: rgba(0, 0, 0, 0.0);
}
.chiaki {
        position: absolute;
        top: 350px;
        left: 27vw;
        width: 100px;
}
.kurumi {
        position: absolute;
        top: 600px;
        right: 27vw;
        width: 100px;
        transform: rotate(7deg);
}
.sakina {
        position: absolute;
        top: 900px;
        left: 28vw;
        width: 100px;
        transform: rotate(-7deg);
}
@media only screen and (max-width: 2110px) {
        .flex-container {
                width: 55vw;
        }
        .chiaki {
                position: absolute;
                top: 350px;
                left: 18.5vw;
                width: 100px;
        }
        .kurumi {
                position: absolute;
                top: 600px;
                right: 18.5vw;
                width: 100px;
                transform: rotate(7deg);
        }
        .sakina {
                position: absolute;
                top: 900px;
                left: 20vw;
                width: 100px;
                transform: rotate(-7deg);
        }
}
@media only screen and (max-width: 1530px) {
        .flex-container {
                width: 75vw;
        }
        .chiaki {
                position: absolute;
                top: 350px;
                left: 7vw;
                width: 100px;
        }
        .kurumi {
                position: absolute;
                top: 600px;
                right: 7vw;
                width: 100px;
                transform: rotate(7deg);
        }
        .sakina {
                position: absolute;
                top: 900px;
                left: 8.5vw;
                width: 100px;
                transform: rotate(-7deg);
        }
}
@media only screen and (max-width: 1120px) {
        .flex-container {
                width: 85vw;
        }
        .chiaki {
                position: absolute;
                top: 350px;
                left: 1vw;
                width: 100px;
        }
        .kurumi {
                position: absolute;
                top: 600px;
                right: 1vw;
                width: 100px;
                transform: rotate(7deg);
        }
        .sakina {
                position: absolute;
                top: 900px;
                left: 2vw;
                width: 100px;
                transform: rotate(-7deg);
        }
}
@media only screen and (max-width: 990px) {
        .flex-container {
                width: 95vw;
        }
        .chiaki {
                display: none;
        }
        .kurumi {
                display: none;
        }
        .sakina {
                display: none;
        }
}
@media only screen and (max-width: 860px) {
        .flex-container {
                width: 95vw;
        }
        nav {
                flex-direction: column;
        }
}
