:root {
        --blue: #0047FF;
        --yellow: #FFF701;
}
body {
        font-family: sans-serif;
        font-size: 1.2em;
        text-transform: lowercase;
        background-color: var(--yellow);
        opacity: 1;
        background-image: linear-gradient(135deg, var(--blue) 25%, transparent 25%), linear-gradient(225deg, var(--blue) 25%, transparent 25%), linear-gradient(45deg, var(--blue) 25%, transparent 25%), linear-gradient(315deg, var(--blue) 25%, var(--yellow) 25%);
        background-position: 40px 0, 40px 0, 0 0, 0 0;
        background-size: 80px 80px;
        background-repeat: repeat;
}
header {
        text-align: right;
        background-image: url(../media/bg/yuki1.png);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-origin: border-box;
}
nav {
        text-align: center;
}
a {
        color: pink;
        text-decoration: none;
}
a:hover {
        text-decoration: wavy underline;
}
nav a:active {
        text-decoration: none;
        color: var(--yellow);
}
header, nav a, main, #girls {
        background-color: var(--blue);
        border-style: solid;
        border-color: var(--yellow);
        border-radius: 25px;
        color: var(--yellow);
        padding: 10px;
        width: 950px;
        margin: auto;
        box-shadow: 10px 10px black;
        text-shadow: 2px 2px black;
}
main {
        height: 750px;
        overflow-y: scroll;
        
}
.center-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.bottom-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 246px;
}
#girls {
        top: 0px;
        left: 0px;
        height: 0px;
        border: none;
        background: none;
        box-shadow: none;
}
.chiaki {
        position: relative;
        top: 120px;
        left: -100px;
        width: 100px;
}
.kurumi {
        position: relative;
        top: 410px;
        right: -830px;
        width: 100px;
        transform: rotate(7deg);
}
.sakina {
        position: relative;
        top: 700px;
        left: -280px;
        width: 100px;
        transform: rotate(-7deg);
}
